-
  var paginationVal = [
    "ФУТБОЛ",
    "БАСКЕТБОЛ",
    "РЕГБИ",
    "ВОЛЕЙБОЛ",
    "ХОККЕЙ"
  ];
  var paginationDataAttr = [
    "football",
    "basketball",
    "rugby",
    "volleyball",
    "hockey"
  ];


.banner

  .banner__img-wrap

    .banner__img-row
      img(
        src="./img/img-football__banner.jpg" srcset="./img/img-football__banner@2x.jpg 2x"
        title=""
        data-img="football"
        class="banner__img banner__img-bg animated is-active"
      )
    .banner__img-row#scene-basketball
      .animated.banner__img.banner__img-bg(data-img="basketball")
      img(
          src="./img/img-basketball__banner-fog.png" srcset="./img/img-basketball__banner-fog@2x.png 2x"
          title=""
          data-img="basketball"
          data-depth="1"
          class="banner__img banner__img-fog animated"
        )
      img(
          src="./img/img-basketball__banner-person.png" srcset="./img/img-basketball__banner-person@2x.png 2x"
          title=""
          data-img="basketball"
          data-depth="1.5"
          class="banner__img banner__img-person animated"
        )
    .banner__img-row#scene-rugby
      .animated.banner__img.banner__img-bg(data-img="rugby")
      img(
        src="./img/img-rugby__banner-fog.png" srcset="./img/img-rugby__banner-fog@2x.png 2x"
        title=""
        data-img="rugby"
        data-depth="1"
        class="banner__img banner__img-fog animated"
      )
      img(
        src="./img/img-rugby__banner-person.png" srcset="./img/img-rugby__banner-person@2x.png 2x"
        title=""
        data-img="rugby"
        data-depth="1.5"
        class="banner__img banner__img-person animated"
      )
    .banner__img-row#scene-volleyball
      .animated.banner__img.banner__img-bg(data-img="volleyball")
      img(
        src="./img/img-volleyball__banner-fog.png" srcset="./img/img-volleyball__banner-fog@2x.png 2x"
        title=""
        data-img="volleyball"
        data-depth="1"
        class="banner__img banner__img-fog animated"
      )
      img(
        src="./img/img-volleyball__banner-person.png" srcset="./img/img-volleyball__banner-person@2x.png 2x"
        title=""
        data-img="volleyball"
        data-depth="1.5"
        class="banner__img banner__img-person animated"
      )
    .banner__img-row
      img(
        src="./img/img-hockey__banner.jpg" srcset="./img/img-hockey__banner@2x.jpg 2x"
        title=""
        data-img="hockey"
        class="banner__img banner__img-bg animated"
        )

  .container

    .banner__wrap
      .banner__container

        .banner__row
          .banner__menu
            .header__hamburger
              .hamburger.hamburger--squeeze(js-hamburger)
                .hamburger-box
                  .hamburger-inner

          .banner__row-logo.wow.wowFadeLeft(data-animation-delay="0.35s")
            include _logo

          .banner__row-slogan.wow.wowFadeLeft(data-animation-delay="0.35s")
            p!= "Мы были одними из первых</br>в России и остались лучшими"

        .banner__row
          .banner__row-phone.wow.wowFadeRight(data-animation-delay="0.35s")
            p!= "8 800 775-87-60"

          .banner__row-button.wow.wowFadeRight(data-animation-delay="0.35s")
            a(href="#callback" title="" js-popup)!= "ЗАКАЗАТЬ ЗВОНОК"

      h1.wow.wowFadeLeft(data-animation-delay="0.35s")!= "СОЗДАЕМ</br>СПОРТИВНУЮ</br>ФОРМУ <span>ДЛЯ</br>ЧЕМПИОНОВ</span>"
      h2.wow.wowFadeLeft(data-animation-delay="0.35s")!= "#БЕЗ ОГРАНИЧЕНИЙ: "
      p.wow.wowFadeLeft(data-animation-delay="0.35s")!= "Количество, цвет и фасон на 100%</br>определяет заказчик. Вы сами</br>знаете, что вам нужно!"

      .banner__footer
        .banner__box.wow.wowFadeLeft(data-animation-delay="0.35s")
          p!= "РАЗРАБОТАЙТЕ БЕСПЛАТНО МАКЕТ СВОЕЙ ФОРМЫ ПРЯМО СЕЙЧАС"
          a(href="#" title="")!= "СОЗДАТЬ МАКЕТ"

        .banner__pagination.wow.wowFadeRight(data-animation-delay="0.35s")
          -for(var i = 0, len = paginationVal.length; i < len; i++)
            .banner__pagination-wrap
              a(href="#" title="" js-bannerBtn data-banner=paginationDataAttr[i] class= (i === 0) ? "is-active" : "")!= paginationVal[i]


