-
  var paginationVal = [
    "ФУТБОЛ",
    "БАСКЕТБОЛ",
    "РЕГБИ",
    "ВОЛЕЙБОЛ",
    "ХОККЕЙ"
  ];
  var paginationDataAttr = [
    "football",
    "basketball",
    "rugby",
    "volleyball",
    "hockey"
  ];


.banner

  .banner__img-wrap

    img(
      src="./img/img-football__banner.jpg" srcset="./img/img-football__banner@2x.jpg 2x"
      title=""
      data-img="football"
      class="banner__img animated is-active"
      )
    img(
      src="./img/img-hockey__banner.jpg" srcset="./img/img-hockey__banner@2x.jpg 2x"
      title=""
      data-img="basketball"
      class="banner__img animated"
      )
    img(
      src="./img/img-football__banner.jpg" srcset="./img/img-football__banner@2x.jpg 2x"
      title=""
      data-img="rugby"
      class="banner__img animated"
      )
    img(
      src="./img/img-football__banner.jpg" srcset="./img/img-football__banner@2x.jpg 2x"
      title=""
      data-img="volleyball"
      class="banner__img animated"
      )
    img(
      src="./img/img-hockey__banner.jpg" srcset="./img/img-hockey__banner@2x.jpg 2x"
      title=""
      data-img="hockey"
      class="banner__img animated"
      )

  .container

    .banner__wrap
      .banner__container

        .banner__row
          .banner__menu
            .header__hamburger
              .hamburger.hamburger--squeeze(js-hamburger)
                .hamburger-box
                  .hamburger-inner

          .banner__row-logo
            include _logo

          .banner__row-slogan
            p!= "Мы были одними из первых</br>в России и остались лучшими"

        .banner__row
          .banner__row-phone
            p!= "8 800 775-87-60"

          .banner__row-button
            a(href="#" title="")!= "ЗАКАЗАТЬ ЗВОНОК"

      h1!= "СОЗДАЕМ</br>СПОРТИВНУЮ</br>ФОРМУ <span>ДЛЯ</br>ЧЕМПИОНОВ</span>"
      h2!= "#БЕЗ ОГРАНИЧЕНИЙ: "
      p!= "Количество, цвет и фасон на 100%</br>определяет заказчик. Вы сами</br>знаете, что вам нужно!"

      .banner__footer
        .banner__box
          p!= "РАЗРАБОТАЙТЕ БЕСПЛАТНО МАКЕТ СВОЕЙ ФОРМЫ ПРЯМО СЕЙЧАС"
          a(href="#" title="")!= "СОЗДАТЬ МАКЕТ"

        .banner__pagination
          -for(var i = 0, len = paginationVal.length; i < len; i++)
            .banner__pagination-wrap
              a(href="#" title="" js-bannerBtn data-banner=paginationDataAttr[i] class= (i === 0) ? "is-active" : "")!= paginationVal[i]


