.example
  .container

    .example__row
      .swiper-container.js-sliderExample

        .swiper-wrapper
          .swiper-slide
            p.example__text!= "ПРИ-</br>МЕРЫ</br>РАБОТ"
            img(
              src="./img/img-example.png"
              srcset="./img/img-example@2x.png 2x"
              class="example__img"
              alt=""
            )
          .swiper-slide
            p.example__text!= "ПРИ-</br>МЕРЫ</br>РАБОТ"
            img(
              src="./img/img-example.png"
              srcset="./img/img-example@2x.png 2x"
              class="example__img"
              alt=""
            )
          .swiper-slide
            p.example__text!= "ПРИ-</br>МЕРЫ</br>РАБОТ"
            img(
              src="./img/img-example.png"
              srcset="./img/img-example@2x.png 2x"
              class="example__img"
              alt=""
            )
          .swiper-slide
            p.example__text!= "ПРИ-</br>МЕРЫ</br>РАБОТ"
            img(
              src="./img/img-example.png"
              srcset="./img/img-example@2x.png 2x"
              class="example__img"
              alt=""
            )
          .swiper-slide
            p.example__text!= "ПРИ-</br>МЕРЫ</br>РАБОТ"
            img(
              src="./img/img-example.png"
              srcset="./img/img-example@2x.png 2x"
              class="example__img"
              alt=""
            )

        .swiper-pagination