// FOOTER :: START


footer.footer
  .container
    .footer__wrapper

      include _menu

      .footer__container
        .footer__row.footer__row--logo

          include _logo

        .footer__row.footer__row--slogan

          p!= "Мы были одними из первых</br>в России и остались лучшими"

          a(href="mailto:info@sport-print.ru" title="")!= "info@sport-print.ru"

        .footer__row.footer__row--contacts

          .footer__row-wrap
            a(href="tel:89007973569")!= "8 (900) 797-3569"

            a(href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="viber available")
              +icon('ico-viber')

            a(href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="whatsapp available")
              +icon('ico-whatsapp')

          .footer__row-wrap

            include _social

        .footer__row.footer__row--phone

          a(href="tel:84957973569" title="")!= "8 (495) 797-3569"
          a(href="tel:88007758760" title="")!= "8 800 775-87-60"

        .footer__row.footer__row--privacy

          p!= "Разработка сайта — <a href='http://Bofer.ru' target='_blank'>Bofer.ru</a>"
          p 
            a(href="#policy" js-popup) Политика конфиденциальности


// FOOTER :: END
